<div class="page-width">
  <div class="  {% if section.settings.layout == 'left' %}main-header{% endif %} {% if section.settings.layout == 'right' %}main-medium{% endif %}" >
    <img src="{{ section.settings.image | img_url:'500x500'}}">
  </div>
  <div class="heading">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.text }}</p>
     <a href="{{ section.settings.button_link }}">Buy Now</a>
  </div>
</div>
{% schema %}
  {
    "name": "Image with text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Heading",
      "default": "Quick links"
    },
     {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
<style>
.main-header{
  float:left;
}
.main-medium{
  float:right;
}
</style>